@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&display=swap');
:root {
    --main-color: #22BAA0;
    --color-dark: #34425A;
    --text-grey: #B0B0B0;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
}

.thead{
    border: 2px solid;
}
.container{
    margin: 50px 50px 50px 50px;
    border: 2px solid ;
    border-radius: 5px;
}
.table-responsive {
    width: 100%;
    overflow: auto;
}

table {
    border-collapse: collapse;
}

table thead tr {
    background: #e9edf2;
}

table tbody tr:hover {
    background-color: #f7f7f7; /* Light gray background on hover */
}

table thead th {
    padding: 1rem 0rem;
    text-align: left;
    color: #444;
    font-size: .9rem;
}

table thead th:first-child {
    padding-left: 1rem;
}

table tbody td {
    padding: 1rem 0rem;
    color: #444;
}

table tbody td:first-child {
    padding-left: 1rem;
    color: var(--main-color);
    font-weight: 600;
    font-size: .9rem;
}

table tbody tr {
    border-bottom: 1px solid #dee2e8;
}


.actions {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: .5rem;
}

  .actions button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  
  .actions .delete {
    background-color: #dc3545; 
    color: white;
  }
  
  .actions .delete:hover {
    background-color: #e9afb5;
  }
  

@media only screen and (max-width: 768px) {
    
    table {
        width: 900px;
    }
}