<app-navbar></app-navbar>
<div class="banner">
    <div class="content">
        <h1 class="mb-5">-WE MAKE YOUR DREAM TRUE- </h1>
        <h2>Welcome to Vivah Online marriage Plateform . <br/>From 'I' to 'We' : Our Wedding Adventure awaits. </h2>
        <a routerLink="menu">Read more........ <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
  
  
  <h1 class="text-center">Success Stories <span class="highlight">Our Valuable Clients</span></h1>
  <div class="container">
    <div class="col">
      <div class="card h-100">
        <img src="/assets/coup1.jpg" class="card-img-top" alt="No image found">
        <div class="card-body">
          <h5 class="card-title">Sarah & Jack</h5>
          <p class="card-text">Love at First Sight: Sarah and Jack met by chance in a crowded cafe. Their eyes locked, and in that moment, they knew they were meant to be together. Today, they're happily married, proving that sometimes, love needs no explanation.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/assets/coup2.jpg" class="card-img-top" alt="No image found" >
        <div class="card-body">
          <h5 class="card-title">Emily & David's</h5>
          <p class="card-text">Overcoming Distance: Emily and David's relationship started as a long-distance romance. Despite the miles between them, their love grew stronger with each passing day. They finally closed the distance and now cherish every moment together.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/assets/coup3.jpg" class="card-img-top" alt="No image found" >
        <div class="card-body">
          <h5 class="card-title">Nick & Moni</h5>
          <p class="card-text">Weathering Life's Storms: Through sickness and health, highs and lows, Lily and Tom stood by each other's side. Their unwavering support and love for one another have been the anchor in their lives, proving that true love can withstand any storm.</p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>