<body>
<div class="background-container">
    <div class="starting">
      <div class="nav-title">
        <h1>Vivah</h1>
      </div>
        <div class="nav-logo">
            <img src="/assets/marriage.jpg" alt="">
        </div>
        <div class="nav-items">
          <ul>
            <li><a routerLink="/" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/about1" routerLinkActive="active">About </a></li>
            <li><a routerLink="/service1" routerLinkActive="active">Services</a></li>
            <li><a routerLink="/contact1" routerLinkActive="active">Contacts</a></li>
            <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
          </ul>
        </div>
    </div>
</div>
</body>