.card {
    margin-top: 100px;
    margin-bottom: 250px;
    border: 1px solid #e46565;
    background-color: rgb(147, 145, 145);
  }
  
  .card-body {
    margin-bottom: 20px;

  }
  
  .text-danger {
    font-size: 35px;
    font-weight: bold;
  }
  .text-muted {
    font-size: 25px;
  }

  .row {
    display: flex;
    justify-content: center;
}