<app-navbar></app-navbar>
<div class="container">
    <main class="table" id="customers_table">
        <section class="table__header">
            <h1>Meetings</h1>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Name <span class="icon-arrow"></span></th>
                        <th> Email <span class="icon-arrow"></span></th>
                        <th> Location <span class="icon-arrow"></span></th>
                        <th> Date <span class="icon-arrow"></span></th>
                        <th> Time <span class="icon-arrow"></span></th>
                        <th> Action <span class="icon-arrow"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let location of filteredLocation">
                        <td>{{ location.name }}</td>
                        <td>{{ location.email }}</td>
                        <td>{{ location.location }}</td>
                        <td>{{ location.date }}</td>
                        <td>{{ location.time }}</td>
                        <td>
                            <button class="status delivered reply-button" [disabled]="isDisabled" (click)="onClick()">{{ buttonText }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</div>
