<app-starting></app-starting>
<div class="container">
  <form class="form" [formGroup]="forgotForm" (ngSubmit)="onSubmit($event)">
  <div class="box">
    <div class="mdl-grid">
      <div class="forgot">
        <span class=" for">Forgot Password</span>
      </div>
      <div class="cell">
        
        <span class="blank-layout-card-secondary-text text-color--smoke">Enter your email below to recieve forgot Password Link</span>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size"></div>
        <label class="mdl-textfield__label" for="userName">User Name</label>
        <input type="text" class="mdl-textfield__input"  name="userName" formControlName="userName">
      </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">     
          <label class="mdl-textfield__label" for="e-mail">Email</label>
          <input type="email" class="mdl-textfield__input"  name="email" formControlName="email">
        </div>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone submit-cell">
        <div class="mdl-layout-spacer"></div>
        <a >
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised color--light-blue">Send Link</button>
        </a>
      </div>
      <div class="col-md-6">
          <a [routerLink]="'/login'" routerLinkActive="active" style="text-decoration: none;">Back to <span class="text-danger">Login</span></a>
      </div>
    </div>


