<app-starting></app-starting>
<div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <div class="started-content">
          <h2>Who We Are</h2>
          <p class="text-justify">
            With a mission to help people find their dream partner, 24 Carat
            Matrimony has been the field expert for the best matrimonial services.
            We take great care to understand and respect each client’s personal
            preferences before proposing any potential matches. Hence, our
            dedicated professionals work diligently on each aspect to deliver only
            the most personalized matches. Whether you have a religious
            preference, a need for re-marriage matches, or a demand for a match
            from an elite and business family, we help you find it all!
            <br /><br />
            Over the years, we have accumulated a database of the most eligible
            bachelors and bachelorettes. Hence, you can trust us to have your
            perfect match in our books! We practice great confidentiality, even
            while matching you with potential life partners. Our safety and
            privacy clauses stand for maintaining the dignity and personal space
            of each applicant. In addition to bringing you closer to the love of
            your life, we offer additional services which help you speed up the
            process. We take pride in providing a large variety of matrimonial
            services to minimize your overwhelm and apprehensions.
          </p>
        </div>
      </div>
    </div>
    <div class="right-content">
      <img class="image" src="\assets\img1.jpg" alt="Right Image" />
    </div>
  </div>
  
  <!-- 2nd para -->
  <div class="container">
    <div class="left-content">
      <img class="image" src="\assets\img3.jpg" alt="Right Image" />
    </div>
    <div class="row align-items-center">
      <div class="col-md-8">
        <div class="started-content">
          <h2>What Makes Us Stand Out From Others?"</h2>
          <p class="text-justify">
            Marriage is a highly personal decision. Hence, it is obvious to feel paranoid or suspicious when getting help from external sources. However, our establishment works like an extended family. Our team keeps you comfortable and safe when expressing your marital needs. We are experienced, patient, and efficient in handling all types of client demands.
            <br /><br />
            We understand that specific marriage prospects can be more complicated than others. Re-marriage for divorcees and widowed individuals is a great challenge. Moreover, late marriages for people above the so-called “marriagable age” are also considered a nuisance. We aren’t afraid to embrace these challenges! No matter your background, our determination to help you find your right partner no matter your background sets us apart from the rest.
            <br>
            Our job isn’t just confined to helping you find your suitable partner. We partake in each step of your marital journey to keep you supported. With an endless variety of choices for simplifying your marital journey, we are a one-stop solution for the finest matrimonial services.
            <br> We understand that specific marriage prospects can be more complicated than others. Re-marriage for divorcees and widowed individuals is a great challenge. Moreover, late marriages for people above the so-called “marriagable age” are also considered a nuisance. We aren’t afraid to embrace these challenges! No matter your background, our determination to help you find your right partner no matter your background sets us apart from the rest.
            <br> We understand that specific marriage prospects can be more complicated than others. Re-marriage for divorcees and widowed individuals is a great challenge. Moreover, late marriages for people above the so-called “marriagable age” are also considered a nuisance. We aren’t afraid to embrace these challenges! No matter your background, our determination to help you find your right partner no matter your background sets us apart from the rest.
          </p>
        </div>
      </div>
    </div>
    
  </div>
  
  <!-- 3rd para -->
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <div class="started-content">
          <h2>Who Are We & What We Do</h2>
          <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error atque necessitatibus ipsum laboriosam, ex quisquam velit aliquam accusamus blanditiis mollitia eaque sint similique nisi corporis dolor explicabo incidunt facilis ad eveniet assumenda eum, fuga iure quod ducimus! Provident, veniam debitis.
            <br /><br />
            Over the years, we have accumulated a database of the most eligible
            bachelors and bachelorettes. Hence, you can trust us to have your
            perfect match in our books! We practice great confidentiality, even
            while matching you with potential life partners. Our safety and
            privacy clauses stand for maintaining the dignity and personal space
            of each applicant. In addition to bringing you closer to the love of
            your life, we offer additional services which help you speed up the
            process. We take pride in providing a large variety of matrimonial
            services to minimize your overwhelm and apprehensions.
          </p>
        </div>
        
      </div>
    </div>
    <div class="right-content">
      <img class="image" src="\assets\img2.jpg" alt="Right Image" />
    </div>
  </div>
